@using System.Web.UI.WebControls
@using WebClient.BestilNemtServiceRef
@using WebGrease.Css.ImageAssemblyAnalysis
@using Login = WebClient.BestilNemtServiceRef.Login
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bestil Nemt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            var t;

            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }

            t = { config: config };
            var u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;) r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== true && t['_' + i](config, r, u, e, o), s }), t;
        }({
            instrumentationKey: '11493d8e-cadf-4c0c-a0bd-f647a13aee8e'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <!-- Get the current Login -->
    @{
        if (Session["Login"] == null)
        {
            var loginObj = new Login();
            Session["Login"] = loginObj;
        }
        var login = (Login)Session["Login"];
    }
    <!-- Get the current Cart -->
    @{
        if (Session["ShoppingCart"] == null)
        {
            var cart = new Cart { PartOrders = new List<PartOrder>() };
            Session["ShoppingCart"] = cart;
        }
        var shoppingCart = (Cart)Session["ShoppingCart"];
        var partOrders = new List<PartOrder>();
        var amount = 0;
        if (shoppingCart != null)
        {
            partOrders = shoppingCart.PartOrders;
            if (partOrders != null)
            {
                amount += partOrders.Sum(partOrder => partOrder.Amount);
            }
        }
    }
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" onclick="location.href = '@Url.Action("Index", "Home", new {id = shoppingCart.Id})'">Bestil Nemt</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @{
                    var shop = (Shop)Session["Shop"];
                }
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @{
                        if (shop != null)
                        {
                            <li>@Html.ActionLink("Produkter", "Product", "Product")</li>
                            <li>
                                <h3>Du shopper nu i @shop.Name - @shop.Address</h3>
                            </li>
                        }
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @{
                            if (login.PersonId != 0)
                            {
                                <a class="LoginClass" onclick="location.href='@Url.Action("Index", "Home")'">@login.Username Log af </a>
                                using (Html.BeginForm("LogAf", "Login", FormMethod.Get))
                                {

                                    if (login.PersonId != 0)
                                    {

                                        var loginObj = new Login();
                                        Session["Login"] = loginObj;

                                      
                                        <a class="dsds" href="/Home/" onclick="alert('@login.Username du er logget af');"></a>
                                           }
                                           }
                                           }
                                           else
                                           {
                                <a class="LoginClass" onclick="location.href='@Url.Action("Index", "Login")'">Log ind</a>
                            }
                        }
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> @amount - Produkter<span class="caret"></span></a>

                        <ul class="dropdown-menu dropdown-cart" role="menu">
                            <!-- For every item in cart loop and view -->
                            @{
                                var buttonId = -1;
                                if (partOrders != null)
                                {
                                    for (var i = partOrders.Count - 1; i >= 0; i--)
                                    {
                                        var product = partOrders[i].Product;
                                        if (product != null)
                                        {
                                            <li>
                                                <span class="item">
                                                    <span class="item-left">
                                                        <img src=\Images\ProductPictures\@product.ImgPath alt="" width="50" />
                                                        <span class="item-info">
                                                            <!-- 15 digit wide name as max -->
                                                            @{
                                                                var name = product.Name;
                                                                if (name.Length > 15)
                                                                {
                                                                    <span>@product.Name.Substring(0, 15)</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>@product.Name</span>
                                                                }
                                                            }
                                                            @{
                                                                if (partOrders[i].Amount > 1)
                                                                {
                                                                    <span>@partOrders[i].Amount X @product.Price kr</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>@product.Price kr</span>
                                                                }
                                                            }
                                                        </span>
                                                    </span>
                                                    <span class="item-right">
                                                        @{
                                                            buttonId++;
                                                        }
                                                        <button class="btn btn-xs btn-danger pull-right" value=@buttonId>x</button>
                                                    </span>
                                                </span>
                                            </li>
                                                                    }
                                                                }
                                                            }
                            }
                            <li class="divider"></li>
                            <li><a class="text-center" onclick="location.href = '@Url.Action(" GetCart", "Cart" , new {id=shoppingCart.Id})'">Vis kurv</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bestil Nemt Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
