@using WebClient.BestilNemtServiceRef
@model global::WebClient.Models.ProductPartOrderViewModel
@{
    ViewBag.Title = "Cart";
    var totalPrice = new decimal(0);
    var shop = (Shop) Session["Shop"];
    var cart = (Cart)Session["ShoppingCart"];
    var proxy = new BestilNemtServiceClient();
}
<h2>
    Din Kurv
</h2>

<table id="Carttable">
    <tr>
        <th></th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Pris pr/stk</th>
        <th>Antal</th>
        <th>Total</th>
        <th>Fjern vare</th>
    </tr>
    @{
        if (cart != null)
        {
            foreach (var partOrder in cart.PartOrders)
            {
                <tr>
                    <td>
                        <img alt="" height="50" src="/Images/ProductPictures/@partOrder.Product.ImgPath" width="50">
                    </td>

                    @{
                        var product = partOrder.Product;
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        var warehouse2 = proxy.GetWarehouseByProductId(product.Id, shop.Id);
                        var savingId = warehouse2.SavingId;
                        var price = product.Price;
                        if (savingId != null)
                        {
                            var saving = proxy.GetSaving(savingId.Value);
                            var percent = (decimal)saving.SavingPercent;
                            var newPrice = price - (price * percent / 100);
                            price = newPrice;
                        }
                        <td>@price kr</td>
                    }
                    <TD>
                        <form action="@Url.Action("UpdateCart", "Cart")" method="post">
                            @Html.Hidden("ProductId", partOrder.Product.Id)
                            <select class="selAmount" name="selAmount">
                                @{
                                    if (shop.Warehouses.Count == 0)
                                    {
                                        <option value="0">0</option>
                                    }
                                    foreach (var warehouse in shop.Warehouses)
                                    {
                                        if (warehouse.Product.Id == partOrder.Product.Id)
                                        {
                                            var stock = warehouse.Stock;
                                            if (stock < 0)
                                            {
                                                // FUUU somebody removed a product there was NOT in stock
                                                <option value="0">0</option>
                                            }
                                            else
                                            {
                                                if (stock > 100)
                                                {
                                                    stock = 100;
                                                }
                                                for (var i = 1; i <= stock; i++)
                                                {
                                                    if (@partOrder.Amount == i)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                }
                            </select>
                        </form>
                    </TD>
                    @{
                        var total = price*partOrder.Amount;
                        totalPrice += total;
                    }
                    <td>@total kr</td>
                    <td>
                        <div class="text-center">
                            <button class="btn btn-xs btn-danger pull-center" onclick="location.href = '@Url.Action("RemovePartOrder", "Cart", new {id = partOrder.Product.Id})'">
                                x
                            </button>
                        </div>
                    </td>
                </tr>
            }
        }
    }
</table>
<div>
    <h3 align="right">
        Total pris: @totalPrice kr
    </h3>
</div>

<div id="CheckOut">
    @*<p>Pris: @shoppingCart.PartOrders kr</p>*@
    @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Cart.Id)
        <button class="CheckOut" type="submit">Til betaling</button>
        <script></script>
    }
</div>

@using (Html.BeginForm("ClearCart", "Cart", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Cart.Id)
    <button class="ClearCart" type="submit">Ryd kurv</button>
    <script>
        if (ShoppingCart.PartOrders.Capacity == 0) {
            alert("Du mangler at tilføje en vare til kurv");

        }
    </script>
}

@section scripts
{
    <script>
        $('.selAmount').change(function () {
            this.form.submit();
        })
    </script>
}
