@using WebClient.BestilNemtServiceRef
@model global::WebClient.Models.ProductPartOrderViewModel
@{
    ViewBag.Title = "Cart";
    var totalPrice = new decimal(0);
    var shop = (Shop)Session["Shop"];
    var cart = (Cart)Session["ShoppingCart"];
    var proxy = new BestilNemtServiceClient();
}
<h2>
    Din Kurv
</h2>

@*The Table of the Cart*@
<table id="Carttable">
    <tr>
        <th></th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Pris pr/stk</th>
        <th>Antal</th>
        <th>Total</th>
        <th>Fjern vare</th>
    </tr>
    @{
        // If the cart is set
        if (cart != null)
        {
            // Loop for every PartOrder
            foreach (var partOrder in cart.PartOrders)
            {
                <tr>
                    @*Show a image of the product*@
                    <td>
                        <img alt="" height="50" src="/Images/ProductPictures/@partOrder.Product.ImgPath" width="50">
                    </td>

                    @{
                        // Get the product
                        var product = partOrder.Product;
                        // Show the name of the product
                        <td>@product.Name</td>
                        // Show the description of the product
                        <td>@product.Description</td>
                        // Get the warehouse to check the saving
                        var warehouse2 = proxy.GetWarehouseByProductId(product.Id, shop.Id);
                        // Get the Saving id
                        var savingId = warehouse2.SavingId;
                        // Get the price of the product
                        var price = product.Price;
                        // If the saving Id has been set set the price to the price with the saving provided
                        if (savingId != null)
                        {
                            // Get the Saving
                            var saving = proxy.GetSaving(savingId.Value);
                            // Get the percent from the saving
                            var percent = (decimal)saving.SavingPercent;
                            // Calculate the new price
                            var newPrice = price - (price * percent / 100);
                            // Set the new price as the price to later use
                            price = newPrice;
                        }
                        // Show the price
                        <td>@price kr</td>
                    }
                    <TD>
                        @* The form to update a Cart by a javascript *@
                        <form action="@Url.Action("UpdateCart", "Cart")" method="post">
                            @* The hidden element is used to not show after the url *@
                            @Html.Hidden("ProductId", partOrder.Product.Id)
                            <select class="selAmount" name="selAmount">
                                @{
                                    // If the warehouse does not have a count show the value 0
                                    if (shop.Warehouses.Count == 0)
                                    {
                                        <option value="0">0</option>
                                    }
                                    else
                                    {
                                        // Loop for every Warehouse
                                        foreach (var warehouse in shop.Warehouses)
                                        {
                                            // If the product from the warehouse match the product from the partOrder
                                            if (warehouse.Product.Id == partOrder.Product.Id)
                                            {
                                                // Get the stock from the warehouse
                                                var stock = warehouse.Stock;
                                                if (stock < 0)
                                                {
                                                    // FUUU somebody removed a product there was NOT in stock
                                                    <option value="0">0</option>
                                                }
                                                else
                                                {
                                                    // If the stock is bigger than 100, set a limit of 100
                                                    if (stock > 100)
                                                    {
                                                        stock = 100;
                                                    }
                                                    // For each stock, show a option to choose from the dropdown menu
                                                    for (var i = 1; i <= stock; i++)
                                                    {
                                                        // Select the amount already chosen from the product page as selected
                                                        if (@partOrder.Amount == i)
                                                        {
                                                            // The selected option shows the value as the chosen from the dropdown menu
                                                            <option value="@i" selected>@i</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@i">@i</option>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                }
                            </select>
                        </form>
                    </TD>
                    @{
                        // Calculate the total price for each partOrder
                        var total = price * partOrder.Amount;
                        totalPrice += total;
                    }
                    @* Show the total price for the current PartOrder *@
                    <td>@total kr</td>
                    <td>
                        @* A button to clear a PartOrder *@
                        <div class="text-center">
                            <button class="btn btn-xs btn-danger pull-center" onclick="location.href = '@Url.Action("RemovePartOrder", "Cart", new {id = partOrder.Product.Id})'">
                                x
                            </button>
                        </div>
                    </td>
                </tr>
                            }
                        }
    }
</table>
<div>
    @* Show the total price for all partOrders *@
    <h3 align="right">
        Total pris: @totalPrice kr
    </h3>
</div>

@* Here is the posibility to Checkout *@
<div id="CheckOut">
    @* show a submit button to Checkout *@
    @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Cart.Id)
        <button class="CheckOut" type="submit">Til betaling</button>
        <script></script>
    }
</div>

@* Here is the posibility to clear a cart *@
@using (Html.BeginForm("ClearCart", "Cart", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Cart.Id)
    <button class="ClearCart" type="submit">Ryd kurv</button>
    <script>
        if (ShoppingCart.PartOrders.Capacity == 0) {
            alert("Du mangler at tilføje en vare til kurv");
        }
    </script>
}

<script>
    // This script update the selected amount
    $('.selAmount').change(function () {
        this.form.submit();
    })
</script>
