@using WebClient.BestilNemtServiceRef
@model List<Cart>

@{
    ViewBag.Title = "Kvitteringer";
}

<h2>Kvitteringer</h2>
@{
    if (@Model.Count > 0)
    {
        foreach (var cart in Model)
        {
            var proxy = new BestilNemtServiceClient();
            var chain = proxy.GetChain(cart.ChainId);
            <img alt="" height="50" src="/Images/Chains/@chain.ImgPath">
            var partOrders = cart.PartOrders;
            if (partOrders.Count != 0)
            {
                <table style="border-collapse: collapse">
                    <tr>
                        <th>
                            <!-- image -->
                        </th>
                        <th>
                            Navn
                        </th>
                        <th>
                            Stk Pris
                        </th>
                        <th>
                            Antal
                        </th>
                        <th>
                            Pris
                        </th>
                    </tr>
                    @foreach (var partOrder in cart.PartOrders)
                    {
                        <tr>
                            <td>
                                <img alt="" height="50" src="/Images/ProductPictures/@partOrder.Product.ImgPath">
                            </td>
                            <td>
                                @partOrder.Product.Name
                            </td>
                            @{
                                var savingId = partOrder.Product.SavingId;
                                if (savingId != null)
                                {
                                    var saving = proxy.FindSaving(savingId.Value);
                                    var str = @partOrder.Product.Price + " - " +
                                              saving.SavingPercent + " %";
                                    <td>
                                        @str
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @partOrder.Product.Price kr
                                    </td>
                                }
                            }
                            <td>
                                @partOrder.Amount
                            </td>
                            <td>
                                @partOrder.PartPrice kr
                            </td>
                        </tr>
                                }

                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            I alt @cart.TotalPrice kr.
                        </td>
                    </tr>
                </table>
                <br />
                                        }
                                    }
                                }
}
