@using WebClient.BestilNemtServiceRef
@model global::WebClient.Models.ProductPartOrderViewModel
@{
    ViewBag.Title = "Product";
    Cart shoppingCart = (Cart)ViewBag.Cart;
}

<h2>Din Kurv</h2>

<table id="Carttable">
    <tr>
        <th></th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Pris pr/stk</th>
        <th>Antal</th>
        <th>Total</th>
    </tr>
    @foreach (var partOrder in shoppingCart.PartOrders)
    {

        <tr>

            <td>
                <img height="50" src="/Images/ProductPictures/@partOrder.Product.ImgPath" width="50" alt="">
            </td>
            <td>@partOrder.Product.Name</td>
            <td>@partOrder.Product.Description</td>
            <td>@partOrder.Product.Price kr</td>
            <TD ALIGN="center">
                <form action="@Url.Action("UpdateCart","Cart")" method="post">
                    @Html.Hidden("PartOrderId", partOrder.Id)
                    <select class="selAmount" name="selAmount">
                        @{
                            var shop = (Shop) Session["Shop"];
                            if (shop != null)
                            {
                                foreach (var warehouse in shop.Warehouses)
                                {
                                    if (warehouse.Product.Id == partOrder.Product.Id)
                                    {
                                        for (int i = 0; i <= warehouse.Stock; i++)
                                        {
                                            if (@partOrder.Amount == i)
                                            {
                                                <option value="@i" selected>@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                    }
                                }
                            }
                            else
                            {
                                <option value="0">0</option>
                            }
                        }
                        }
                    </select>
                </form>
            </TD>

            <td>@partOrder.PartPrice kr</td>

        </tr>
                            }

</table>

<div id="CheckOut">
    @*<p>Pris: @shoppingCart.PartOrders kr</p>*@
    @using (Html.BeginForm("CheckOut", "Product", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Cart.Id)
        <button class="CheckOut" type="submit">Til betaling</button>
    }
</div>

@using (Html.BeginForm("ClearCart", "Product", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Cart.Id)
    <button class="ClearCart" type="submit">Ryd kurv</button>
}

@section scripts
{
    <script>
        $('.selAmount').change(function() {
            this.form.submit();
        });
        
    </script>
}
