@using WebClient.BestilNemtServiceRef
@model global::WebClient.Models.ProductPartOrderViewModel
@{
    ViewBag.Title = "Product";
    Cart shoppingCart = (Cart)ViewBag.Cart;
}

<h2>Din Kurv</h2>


<table id="Carttable">
    <tr>
        <th></th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Pris pr/stk</th>
        <th>Antal</th>
        <th>Total</th>
    </tr>
    @foreach (var partOrder in shoppingCart.PartOrders)
    {
        <tr>
            <td><img src="/Images/ProductPictures/@partOrder.Product.ImgPath" height="50" width="50"></td>
            <td>@partOrder.Product.Name</td>
            <td>@partOrder.Product.Description</td>
            <td>@partOrder.Product.Price kr</td>
            <td>@partOrder.Amount </td>
            <td>@partOrder.PartPrice kr</td>
        </tr>

    }

</table>

<div id="CheckOut">
    @*<p>Pris: @shoppingCart.PartOrders kr</p>*@
    @using (Html.BeginForm("CheckOut", "Product", FormMethod.Post))
    {


        @Html.HiddenFor(x => x.Cart.Id)
        <button class ="CheckOut" type="submit">Til betaling</button>

    }




</div>

    @using (Html.BeginForm("ClearCart", "Product", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Cart.Id)
        <button class="ClearCart"  type="submit" >Ryd kurv</button>
    }










