@using WebClient.BestilNemtServiceRef
@model List<Product>
@{
    ViewBag.Title = "Product";
    Cart shoppingCart = (Cart)ViewBag.Cart;
}

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("MyInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("ProductTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<h2>Alle produkter</h2>

<input type="text" id="MyInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table id="ProductTable">
    <tr>
        <th></th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Pris</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td><img src="/Images/ProductPictures/@product.ImgPath" height="50" width="50"></td>
            <td><a href="/Product/ProductPage/@product.Id">@product.Name</a></td>
            <td>@product.Description</td>
            <td>@product.Price kr</td>
        </tr>
    }
</table>

<div>
    @foreach (var partOrder in shoppingCart.PartOrders)
    {
        @partOrder.Product.Name @partOrder.Product.Price @:kr @partOrder.Amount stk i alt @partOrder.PartPrice<br/>
    }
    @shoppingCart.TotalPrice
</div>




