@using WebClient.BestilNemtServiceRef
@model global::WebClient.Models.ProductPartOrderViewModel

@{
    ViewBag.Title = "Product Page";
}

<h1>@Model.Product.Name</h1>
<div id="ProductPicture">
    <img alt="" height="350" src="/Images/ProductPictures/@Model.Product.ImgPath" width="350">
</div>
<div id="ProductInformation">
    <div id="BuyModul">
        <p>Pris: @Model.Product.Price kr</p>
        @{
            if (Session["Login"] == null)
            {
                var loginObj = new Login();
                Session["Login"] = loginObj;
            }
            var login = (Login)Session["Login"];
        }


        @using (Html.BeginForm("AddProductToCart", "Product", FormMethod.Post))
        {
            var shop = (Shop)Session["Shop"];
            if (shop != null)

            {
                var proxy = new BestilNemtServiceClient();
                var warehouses = proxy.FindAllWarehousesByShopId(shop.Id);

                var maxAmount = 0;
                foreach (var warehouse in warehouses)
                {
                    if (warehouse.Product.Id == @Model.Product.Id)
                    {
                        maxAmount = warehouse.Stock;
                        if (maxAmount > 100)
                        {
                            maxAmount = 100;
                        }
                    }
                }
                if (maxAmount == 0)
                {
                    <p>Ingen varer på lager</p>
                }
                else
                {
                    var cart = (Cart)Session["ShoppingCart"];
                    foreach (var partOrder in cart.PartOrders)
                    {
                        if (@Model.Product.Id == partOrder.Product.Id)
                        {
                            maxAmount = maxAmount - partOrder.Amount;
                        }
                    }

                    if (maxAmount == 0)
                    {
                        <p>Det maksimale antal af dette produkt er allerede tilføjet til kurven</p>
                    }
                    else
                    {
                        <select name="Amount">
                            @{
                                for (var i = 1; i <= maxAmount; i++)
                                {
                                    <option value="@i"> @i </option>
                                }
                            }
                        </select>
                                if (login.PersonId == 0)
                                {
                        @Html.HiddenFor(x => x.Product.Id)
                                <button type="submit" >Tilføj til kurv</button>
                                }
                                else
                                {
                                    <button type="submit" onclick="alert('@Model.Product.Name er tilføjet til kurven');">Tilføj til kurv</button>
                                                }
                                            }
                                        }
                                    }
                                }
    </div>

    <div id="descriptionBox">
        <h3>Produkt information</h3>
        <p>@Model.Product.Description</p>
    </div>
</div>