@using WebClient.BestilNemtServiceRef
@model Login
@{
    ViewBag.Title = "Sign in";
}

<div class="container">
    <div class="col-md-12 text-center">
        <p>Indtast dit brugernavn og adgangskode for at logge ind</p>
    </div>
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            @using (Html.BeginForm("Signdo", "Login", FormMethod.Get))
            {
            <section class="login-form">
                <form method="post" action="#">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        Indtast Email:<br>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            Indtast Kodeord(mindst 6 cifre):<br>
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn btn-default" />
                        </div>
                    </div>

                          
                           
                            <div>
                                <a onclick="location.href = '@Url.Action("CreateLogin", "Login")'">Opret konto</a> eller <a onclick="location.href = '@Url.Action("ResetLogin", "Login")'">Nulstil Adgangskode</a>
                            </div>
</form>
                <div class="form-links">
                    <a onclick="location.href = '@Url.Action("Index", "Home")'">www.BestilNemt.dk</a>
                </div>
            </section>
            }
        </div>

        <div class="col-md-4"></div>

    </div>
</div>