@using WebClient.BestilNemtServiceRef
@model Tuple<List<Chain>, List<Product>, List<Product>>

@{
    ViewBag.Title = "FrontPage";
}

@foreach (var item in Model.Item1)
{
    var imgPath = "/Images/" + @item.ImgPath;
    <button name=@item.Name value="@item.Id" class="button" style="width: 200px; height: 200px" onclick="location.href='@Url.Action("ShopList", "Shop", new { id = item.Id })'">
        <img src=@imgPath alt="@item.Name" style="width:200px;border:0;">
    </button>
}

<div id="wrap">
    <div id="left_col">
        <h2 class="frontPage">Populære produkter</h2>
        @foreach (var item in Model.Item2)
        {
            <button name=@item.Name value=@item.Id class="button" style="width: 100px; height: 100px;" onclick="location.href = '@Url.Action("ShopList", "Shop", new {id = item.Id})'">
                <img src="http://www.klapjob.dk/media/1158/foetexlille.jpg" alt=@item.Name style="width: 100px; border: 0"/>
            </button>
        }
    </div>
    <div id="right_col">
        <h2 class="frontPage">Aktuelle tilbud</h2>
        @foreach (var item in Model.Item3)
        {
            <button name="@item.Name" value="@item.Id" class="button" style="width: 100px; height: 100px;" onclick="location.href = '@Url.Action("ShopList", "Shop", new {id = item.Id})'">
                <img src="http://www.klapjob.dk/media/1158/foetexlille.jpg" alt=@item.Name style="width: 100px; border: 0" />
            </button>
        }
    </div>
</div>